# Lists

Here is a list ["Hello", "I", “Michel”, “am”]

    1. Store this list in a variable we'll call michel
    2. Make a loop so that the console returns each of the items in the list

In [1]:
my_list = ["Hello", "I", "Michel", "am"]
for word in my_list:
  print(word)

Hello
I
Michel
am

We have a problem with this sentence, two words are reversed. Find a way to invert the last item with the next-to-last item...

In [2]:
first_name = my_list.pop(2) # pop is used to remove one item from a list
                            # assign the removed value to first_name
my_list.append(first_name) # append first_name to the end of the list
for word in my_list:
    print(word)

Hello
I
am
Michel

Here's a list of ages: [12, 16, 34, 58, 9].

    1. Store this age list in a variable that we'll call: 



```
age
```



    2. We would like this list to be arranged in ascending order, how do we do that?

In [3]:
age = [12,16,34,58,9]
order = age.pop(4)
age.insert(0,order) # list in ascending order from 0 to ...
print(age)

[9, 12, 16, 34, 58]

# Dictionaries

We told you that dictionaries are very useful with APIs, so let's try to use the Star Wars API.

    1. In your text editor, write:
    


```
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic = request.json()
```

    2. This will make it possible to call the Star Wars API to store it on a dictionary format in a variable called _dic_.
    
    3. See what's in the dictionary via a loop
    
    4. We'd like to make a nice phrase to describe the character like this: 
    
    “{{name}} is {{height}} cm tall and weighs {{mass}} kg. He was born in {{birth_year}}”

In [4]:
import requests
request = requests.get("https://swapi.dev/api/people/1/")
dic = request.json()

print("{} is {} cm tall and weighs {} kg. He was born in {}".format(dic["name"], dic["height"], dic["mass"], dic["birth_year"])) # {} is used for beig remplaced by values

Luke Skywalker is 172 cm tall and weighs 77 kg. He was born in 19BBY

In [5]:
dic

{'name': 'Luke Skywalker',
 'height': '172',
 'mass': '77',
 'hair_color': 'blond',
 'skin_color': 'fair',
 'eye_color': 'blue',
 'birth_year': '19BBY',
 'gender': 'male',
 'homeworld': 'http://swapi.dev/api/planets/1/',
 'films': ['http://swapi.dev/api/films/1/',
  'http://swapi.dev/api/films/2/',
  'http://swapi.dev/api/films/3/',
  'http://swapi.dev/api/films/6/'],
 'species': [],
 'vehicles': ['http://swapi.dev/api/vehicles/14/',
  'http://swapi.dev/api/vehicles/30/'],
 'starships': ['http://swapi.dev/api/starships/12/',
  'http://swapi.dev/api/starships/22/'],
 'created': '2014-12-09T13:50:51.644000Z',
 'edited': '2014-12-20T21:17:56.891000Z',
 'url': 'http://swapi.dev/api/people/1/'}

   1. Import a new character by changing :
    
    
```
request = requests.get("https://swapi.dev/api/people/1/")
```

by


 ```
request = requests.get("https://swapi.dev/api/people/5/")
```

2. Re-run your code, do you see a problem? Try to fix it.

In [6]:
import requests
number = 5
request = requests.get("https://swapi.dev/api/people/{}/".format(number))
dic = request.json()

if dic['gender'] == 'male':
  print("{} is {} cm tall and weighs {} kg. He was born in {}".format(dic["name"], dic["height"], dic["mass"], dic["birth_year"]))
else :
  print("{} is {} cm tall and weighs {} kg. She was born in {}".format(dic["name"], dic["height"], dic["mass"], dic["birth_year"]))

Leia Organa is 150 cm tall and weighs 49 kg. She was born in 19BBY

# Slices

 We have the following dataset: ` kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]`
 
    1. This variable represents a list of kilometres travelled every morning by 8 users to work.
    2. Using a loop, calculate the total average of all the users' trips
    3. Is this average representative of what all individuals really go through? Why do you think so?

In [7]:
kilometres_travelled = [50, 10, 100, 25, 1000, 21, 12,30]
total_km = 0
total_users = 0

for km in kilometres_travelled:
    total_km += km # additionning all items and put into a variable
    total_users += 1 # same

average_km = total_km/total_users 
print("On average, users travelled {} km to get to work.".format(average_km))

On average, users travelled 156.0 km to get to work.

This average is not really representative because it is higher than most of the values in the list. Indeed, the distances are all <= 100kms, except one which is worth 1000kms. This value is what is called an _outlier_ ("outlier"), which probably corresponds to an erroneous entry (it seems unlikely that someone would travel 1000km every morning to work). To get a more representative average of the sample, this outlier could be removed from the list before calculating the average.

    4. Change the variable kilometers_travelled to have a more representative average

In [8]:
kilometres_travelled.pop(4) # removing outlier
total_km = 0
total_users = 0

for km in kilometres_travelled:
    total_km += km
    total_users += 1

average_km = total_km/total_users
print("On average, users travelled {} km to get to work.".format(average_km))

On average, users travelled 35.42857142857143 km to get to work.